@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Great+Vibes&display=swap");

body {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 33%,
    rgba(32, 59, 140, 1) 64%,
    rgba(2, 0, 36, 1) 100%
  );
  font-family: "Great Vibes";
  color: black;
  font-size: xx-large;
  text-decoration: none;
}

.cat {
  height: 200px;
  width: 300px;
  background-color: white;
  border: black 3px dashed;
}

.other {
  height: 350px;
  width: 600px;
  background-color: red;
  border: black 3px dashed;
}


