@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Great+Vibes&display=swap");

body {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 33%,
    rgb(102, 133, 224) 64%,
    rgb(74, 65, 245) 100%
  );
  font-family: "Great Vibes";
  color: black;
  font-size:x-large;
  text-decoration:none;
  width: 11;
  font-style: initial;

}

.cat {
  height: 200px;
  width: 300px;
  background-color: rgb(198, 15, 15);
  border: black 3px dashed;
}

.other {
  height: 350px;
  width: 600px;
  background-color: red;
  border: black 3px dashed;
}

ul{
  list-style-type:none;
}
a {
  text-decoration: none;
}
.trip {
  height: 10rem;
  float: left;
}
